.df{
    height: 80px;
    width: 100%;
    color: white;
    // padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 4, 142);
}
.sec_container{
    align-items:flex-start;
    justify-content: space-evenly;
    section{
        .teacher_sec, .student_sec{
            height: 500px;
        }
    }
}
.director-img{
    border-radius: 50%;
    height:4rem;
    margin-right: 4vw;
    background-color: white;
    padding: 1px;
    box-shadow: 0px 0px 3px 3px rgb(13, 35, 147);
}
.director_acordian{
    width: 80vw !important;
}
.teacher_sec{
    margin-top: 10px;
    padding: 0.5rem;
    width: 90%;
    color: black;
}
.student_sec, .teacher_sec{
    margin-top: 10px;
    padding: 2rem;
    width:100%;
    background-color: white;
    box-shadow: 0 0 3px 3px rgb(134, 18, 134);
}

.student_sec:hover{
    box-shadow: 0 0 5px 5px rgb(134, 18, 134);
}
.teacher_sec:hover{
    box-shadow: 0 0 5px 5px rgb(134, 18, 134);

}
.teacher_img{
    border-right: 1px solid black;
}
.teacher_img, .teacher_action{
    flex-basis: 50%;
    padding: 2vw;
    img{
        height: 15vw;
    }
    a{
        text-decoration: none;
        font-size: larger;
        color: rgb(69, 24, 127);
        font-weight: bold;
       
    }
    a:hover{
        text-decoration: underline;
        color: rgb(60, 220, 228);
    }
    input{
        border-radius: 5px;
    }
}
.class9{
    background-image: linear-gradient(rgb(167, 28, 189), rgb(171, 181, 133));

}
.s_l{
    margin-left: 3vw;
    width: 15vw;
    padding:2px 1vw;
    border-radius: 5px;
}
.st_atd{
    width: 80%;
    
}
.pr_std{
    border: 2px dashed rgb(173, 14, 131);
    border-radius: 50%;
    padding: 0.5vw;
    position:absolute;
    height: 35px;
    width: 35px;
    
    h5{
        position:sticky;  
        color:white; 
    }
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    
}

.bottom_border{
    padding-bottom: 7px;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.list_view{
    border: 2px solid black;
    padding: 1vw 1vw;
    background-color: rgb(22, 11, 74);
    border-radius: 10px;
    ol{
        color: white;
    }
    .accordion-item:last-of-type{
        padding:0.6vw;
        margin: 2px 0;
    }
}

.brdr{
    height: 39px;
    width: 39px;
    
    padding: 3px;
    border: 3px dashed rgb(255, 3, 167);
    border-radius: 50%;
    box-sizing: content-box;
    animation: rotate 3s  infinite linear;
}
.noofstd{
    margin-left: 5vw;
}
.director_body{
    align-items: flex-start;
    justify-content: space-evenly
}

.notice_input{
  height: 280px;
  width: 15vw;
  background-color: rgba(255, 255, 255, 0.698);
  box-shadow: 0 0 3px 3px grey;
}
.notice_output{
    h4{
         position: absolute;
         width: inherit;
    }
    background-color: white;
    box-shadow: 0 0 3px 3px grey;
    width: 15vw;
    height: 250px;
    overflow-y: scroll;
}
.notice_input{
    input{
        width:14vw;
    }
    textarea{
        width:14vw;
    }
}
 @media screen and (max-width:760px) {
    .tchr{
        flex-direction: column;
    }
    .teacher_img {
        border-right: none;
        border-bottom: 2px solid rgb(175, 19, 110);
        img{
            width: 60vw;
            height: 30vh;
        } 
    }
    .sec_container{
        flex-direction: column;
        align-items: center;
    
        section{
            .teacher_sec,.student_sec{
                width: 90vw;
                height: auto;
            }
        }
    }
    
    .notice_input, .notice_output {
        width:90vw;
        margin-bottom: 20px;
        input{
            width: 85vw;
        }
        textarea{
            width:85vw;
        }
    }
    

.director_body {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
    .accordion-body{
        padding: 0 !important;
    }
    .teacher_action{
        width: 80vw;
        justify-content: center;
        align-items:flex-start;
    }
    .s_l {
        margin-left: 3vw;
        width: 56vw;
        padding: 2px 1vw;
        border-radius: 5px;
    }
    .director_acordian{
        width: 96vw!important {
            
        };
    }
    .director-img{
        width: 3.5rem;
        height: 3.5rem;
        margin:0px 0.5vw;
    }
    .st_atd{
        width: 100%;
        margin-left: 0 !important;
       
    }
 }