
.s_profile{
    background-image: url("/static/studentbackground.png");
    background-size: cover;
}
.std_profile_table{
    background-color: rgba(7, 41, 114, 0.73);
    box-shadow: 0 0 3px 3px rgb(196, 80, 176);
    width: 70%;
    padding: 3vw 2vw ;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.std_profile_table:hover{
    box-shadow: 0 0 8px 5px rgb(252, 34, 216);
}
.std_nav{
    background-color: rgba(255, 0, 191, 0.426) !important;
     padding: 10px 1vw;
     button{
        padding: 0 1vw;
        height: 40px;
        background-color: rgb(255, 0, 187);
     }
}

.std_row{
    margin-left:3vw;
    margin-right: 5vw;
   b{
    margin: 0 0 16px 0;
   }
}
.notice{
    height: 300px;
    width: 20vw;
    border: 2px solid white;
    background-color: rgba(142, 15, 206, 0.536);
    margin-left: 3vw;
    overflow-y: scroll;
    h4{
        position: relative;
        width:inherit;
    }
    
}

@media screen and (max-width:760px) {
    .details{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .notice{
        margin-top: 20px;
        width: 90%;
        margin: 0!important;
    }
    .std_profile_table{
        width: 90%;
    }
}